@import url('https://fonts.googleapis.com/css?family=Muli');

/* @import url("https://use.typekit.net/ypq7ybt.css"); */


:root{
    --main-color: #458FF6;
    --second-color: #000000;
    --Third-color: #7D7987;
    --fourth-color: #FFFFFF;
    --fifth-color: #233348;
    --sixth-color: #1F1534;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family: 'muli', sans-serif;
    font-size: 18px;
    color: var(--second-color)
}

button{
    width: 200px;
    height: 60px;
    font-weight: bold;
    border-radius: 55px;
}

/* HEADER */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 191px;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-container h1{
    font-size: 24px;
    color: var(--sixth-color)
}

.logo-container img{
    width: 41px;
    height: 41px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 37px;
}

nav a{
    color: var(--Third-color)
}
nav #bold{
    color: var(--sixth-color);
    font-weight: bold;
}
input[type=checkbox]{
    display: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    user-select: none;
}

/* PRIMEIRA SEÇÃO */
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-left: 191px;
    margin-right: 163px;
    gap:87px
}

.about-container img{
    width: 693px;
    height: 598px;
}

#img-balls-about{
    width: 70px;
    height: 118.54px;
    margin: 0;
    left: 0;
    top: 160px;
    position:absolute;
}

.about-content {
    width: 467px;
    margin-top: 106px;
}
.about-content h2{
    color: var(--second-color);
    font-size: 48px;
}
.about-content p{
    color: var(--Third-color);
    padding-top: 25px;
    padding-bottom: 45px;
}
.about-content button{
    color: var(--fourth-color);
    background-color: #458FF6;
}

/* SEGUNDA SEÇÃO */
.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 190px;
    position: relative;
    max-width: 1675.58px;
}

.services-container h2{
    font-size: 36px;
    font-weight: bold;
}

.services-container p{
    color: var(--Third-color);
    padding: 50px;
    width: 992px;
    z-index: 1;
}

.services-container button{
    margin-top: 60px;
    background-color: var(--fourth-color);
    color: var(--main-color);
    border: 1.4px solid var(--main-color);
}

.line{
    width: 56px;
    border: 2px solid var(--second-color);
    border-radius: 10px;
    margin-top: 25px;
}
.services-content{
    display: flex;
    width: 1120px;
    flex-wrap: wrap;
    gap: 35px;
    position: relative;
    z-index: 1;
}

.service-card{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 354px;
    border-radius: 30px;
    border: 1px solid var(--fourth-color);
    box-shadow: 0px 10px 10px  #E5E9F6;
    align-items: start;
    text-align: justify;
    justify-content: center;
    background-color: var(--fourth-color);
}

.service-card img{
    width: 50px;
    margin: 10px 30px;
}

.service-card h3{
    padding: 10px 30px;
    font-size: 24px;
}
.service-card p{
    padding: 0;
    padding: 10px 30px;
    font-size: 16px;
    width: auto;
}

#background-service {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 0; 
    width: 1000px; 
    height: auto;
}

#little-balls-biggest {
    position: absolute;
    /* top: 500px;  */
    top: 28em;
    /* right: 230px; */
    right: 8em;
    z-index: 0;
    width: 140px; 
    height: auto;
}

/* TERCEIRA SEÇÃO */
.leading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 220px 135px;
    gap: 137px;
}
.leading-container img{
    width: 650px;
    height: 477px;
}

.leading-content{
    width: 486px;
    height: 388px;
    text-align: left;
    margin-top: 57px;
}

.leading-content h2{
    font-size: 36px;
    font-weight: bold;
}

.leading-content p{
    color: var(--Third-color);
    padding: 30px 0;
}
.leading-content button{
    background-color: var(--fourth-color);
    border: 1.4px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
}

/* QUARTA SEÇÃO */
.download-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 71px;
    margin: 0px 164px;
}

.download-container img{
    width: 665px;
    height: 434px;
}

.dowload-content{
    width: 420px;
    height: 375px;
    margin-top: 36px;
    text-align: left;
}
.dowload-content h2{
   font-size: 36px;
   font-weight: bold;
}
.dowload-content p{
   color: var(--Third-color);
   padding: 30px 0;
}
.dowload-content button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--fourth-color);
    border: 1.4px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
}
.dowload-content img{
   width: 15px;
   height: 20px;
}

/* QUINTA SEÇÃO */
.comments-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 216px 190px;
    gap:42px;
}

#comment-balls-blue{
    width: 70px;
    height: 118.54px;
    margin: 0;
    margin-right: 1200px;
    top: 3900px;
    position: absolute;
}
#comment-balls-white{
    width: 70px;
    height: 118.54px;
    margin: 0;
    margin-left: 1040px;
    top: 3620px;
    position: absolute;
}

.comments-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background:  linear-gradient( 0.2turn, #5A98F2, #67C3F3); 
    width: 1120px;
    height: 425px;
    border-radius: 24px;
}
.comments-content h2{
    font-size: 36px;
    color: var(--fourth-color);
    font-weight: bold;
    padding-bottom: 25px;
    margin-top: 64px;
}

.line-white{
    width: 56px;
    border: 2px solid var(--fourth-color);
    border-radius: 10px;
}
.card-comment{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 66px 118px;
    gap: 109px;
}

.comment-about{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-about h3{
    font-size: 22px;
    color: var(--fourth-color);
    font-weight: bold;
    padding-left: 57px;
} 
.comment-about p{
    color: var(--fourth-color);
   
} 

.comment{
    width: 420px;
    font-size: 19px;
    text-align: justify;
    color: var(--fourth-color);
}

/* SEXTA SEÇÃO */
.article-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 129px 240px;
}
.article-container h2{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 26px;
}
.article-container button{
    background-color: var(--fourth-color);
    border: 1.4px solid var(--main-color);
    color: var(--main-color);
    margin-top: 69px;
}

.article-content{
    display: flex;
    gap: 34px;
    align-items: center;
    margin-top: 79px;
}

.article-card{
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 8px 8px  #E5E9F6;
}
.article-card img{
    width: 100%;
}

.article-text{
    padding: 35px;
}

.article-text h3{
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 12px;
}
.article-text p{
    font-size: 16px;
    color: var(--Third-color);
}
.article-text button{
    display: flex;
    align-items: center;
    gap: 11px;
    border: none;
    margin-top: 0;
}
.article-text img{
   width: 15px;
}

#balls-article{
    position: absolute;
    left: 340px;
    top: 4460px
    /* margin-left: 200px; */
}
#background-article{
    position: absolute;
    right: 0;
    margin-right: 0;
}

/* FOOTER */
footer{
    background:  linear-gradient( 0.2turn, #5A98F2, #67C3F3);
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 145px;
    height: 432px;
    position: relative;
}

.footer-content{
    display: flex;
    flex-direction: column;
    width: 391px;
}
.footer-content p{
    color: var(--fourth-color);
    padding-top: 20px;
}
.logo-container h1{
    color: var(--fourth-color);
    font-size: 24px;
    font-weight: bold;
}
.footer-about{
    display: flex;
    gap: 133px;
}

.footer-column h3{
    color: var(--fourth-color);
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
.footer-column p{
    color: var(--fourth-color);
    line-height: 40px;
}

#footer-white-balls{
    position: absolute;
    left: 0;
    bottom: 0;
}

#footer-blue-balls{
    position: absolute;
    right: 91px;
    bottom: 440px;
}


@media(max-width: 700px){

    *{
        font-size: 14px;
    }

    button{
        width: 150px;
        height: 40px;
    }

    /* HEADER */  
    
    header{
        gap: 20px;
        margin: 33px 39px;
    }
    .logo-container{
        gap: 12px;
    }
    
    .logo-container h1{
        font-size: 20px;
    }
    
    .logo-container img{
        width: 30px;
        height: 30px;
    }
    
    nav{
        display: none;
        gap: 15px;
        position: absolute;
        flex-direction: column;
        top: 100px;
        right: 0;
        margin-right: 25px;
        justify-content: center;
    }

    input[type=checkbox]:checked ~ nav{
        display: flex;
    }

    .hamburger {
        display: block;
    }

    /* PRIMEIRA SEÇÃO */
    .about-container{
        margin-top: 24px;
        margin-left: 37px;
        margin-right: 37px;
        gap: 0px;
        flex-direction: column-reverse;
    }
    
    .about-container img{
        width: 300px;
        height: auto;
    }
    
    #img-balls-about{
        width: 40px;
        height: auto;
        top: 447px;
        position: absolute;
    }
    
    .about-content {
        width: 300px;
        margin-top: 34px;
        text-align: center;
    }
    .about-content h2{
        font-size: 30px;
    }
    .about-content p{
        padding: 25px 0;
    }
    .about-content button{
        font-size: 12px;
    }

    /* SEGUNDA SEÇÃO */
    .services-container{
        width: auto;
        margin: 60px;
        
    }
    
    .services-container h2{
        font-size: 30px;
    }
    
    .services-container p{
        width: 320px;
        line-height: 25px;
    }
    
    .line{
        border: 1px solid var(--second-color);
        border-radius: 5px;
    }
    
    .services-content{
        width: auto;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    
    .service-card{
        width: 280px;
        height: 283.2px;
        box-shadow: 0px 5px 5px  #E5E9F6;
        align-items: start;
        text-align: justify;
        justify-content: center;
        background-color: var(--fourth-color);
    }
    
    .service-card img{
        width: 40px;
        margin: 10px 30px;
    }
    
    .service-card h3{
        padding: 10px 30px;
        font-size: 24px;
    }
    .service-card p{
        padding: 0;
        padding: 10px 30px;
        font-size: 16px;
        width: auto;
    }
    
    #background-service {
        top: 0px;
        width: 350px; 
        left: 120px;
    }
    
    #little-balls-biggest {
        display: none;
    }

    /* TERCEIRA SEÇÃO */
    .leading-container{
        flex-direction: column;
        margin: 37px 81px;
        gap: 70px;
    }
    .leading-container img{
        width: 300px;
        height: 220px;
    }
    
    .leading-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 295px;
        height: auto;
        text-align: center;
        margin: 0  40px;
    }
    
    .leading-content h2{
        font-size: 30px;
        line-height: 50px;
    }
    
    .leading-content p{
        text-align: justify;
        padding: 30px 0;
    }

    /* QUARTA SEÇÃO */
    .download-container{
        margin: 80px 35px;
        flex-direction: column-reverse;
    }
    
    .download-container img{
        width: 300px;
        height: 195.79px;
    }
    
    .dowload-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 306px;
        height: auto;
        margin-top: 0px;
        text-align: center;
    }
    .dowload-content h2{
       font-size: 30px;
    }
    .dowload-content p{
       text-align: justify;
    }

    .dowload-content button{
        gap: 6px;

    }
    .dowload-content img{
       width: 10px;
       height: 15px;
    }

    /* QUINTA SEÇÃO */
    .comments-container{
        margin: 73px 37px;
        gap: 33px;
    }
    .comments-container img{
        width: 171px;
    }
    
    #comment-balls-blue{
        display: none;
    }
    #comment-balls-white{
        display: none;
    }
    
    .comments-content{
        width: 300px;
        height: auto;
        border-radius: 24px;
    }
    .comments-content h2{
        font-size: 25px;
        margin-top: 28px;
    }
    
    .line-white{
        border: 1px solid var(--fourth-color);
        border-radius: 5px;
    }
    .card-comment{
        flex-direction: column;
        margin: 28px 34px;
        gap: 17px;
    }
    
    .comment-about{
        width: 219px;
    }
    
    .comment-about h3{
        font-size: 18px;
        color: var(--fourth-color);
        font-weight: bold;
        padding-left: 23px;
    } 
    .comment-about img{
        width: 50px;
        height: 50px;
    } 
    
    .comment{
        width: 233px;
        font-size: 12px;
    }

    /* SEXTA SEÇÃO */
    .article-container{
        margin: 80px 32px;
        text-align: center;

    }
    .article-container h2{
        font-size: 30px;
        line-height: 60px;
        padding-bottom: 11px;
        width: 246px;
    }
    .article-container button{
        margin-top: 60px;
    }
    
    .article-content{
        gap: 53px;
        flex-direction: column;
        margin-top: 60px;
        justify-content: center;
    }
    
    .article-card{
        width: 300px;
        box-shadow: 0px 5px 5px #E5E9F6;
    }
    
    .article-text{
        padding: 21px;
        text-align: justify;
    }
    
    .article-text h3{
        font-size: 18px;
    }

    .article-text img{
       width: 15px;
    }
    
    #balls-article{
        display: none;
    }

    #background-article{
        display: none;
    }

    /* FOOTER */
    footer{
        gap: 40px;
        height: auto;
        flex-direction: column-reverse;
    }
    
    .footer-content{
        width: 317px;
        margin: 36px 28px;
        margin-top: 0;
    }

    .logo-container h1{
        font-size: 20px;
    }
    .footer-about{
        gap: 26px;
        margin: 36px 28px;
        margin-bottom: 0;
    }
    
    .footer-column h3{
        color: var(--fourth-color);
        font-size: 18px;
        line-height: 40px;
    }
    .footer-column p{
        color: var(--fourth-color);
        line-height: 40px;
    }
    
    #footer-white-balls{
        display: none;
    }
    
    #footer-blue-balls{
        display: none;
    }
}