@import url('https://fonts.googleapis.com/css?family=Muli');

/* @import url("https://use.typekit.net/ypq7ybt.css"); */


:root{
    --main-color: #458FF6;
    --second-color: #000000;
    --Third-color: #7D7987;
    --fourth-color: #FFFFFF;
    --fifth-color: #233348;
    --sixth-color: #1F1534;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family: 'muli', sans-serif;
    font-size: 18px;
    color: var(--second-color)
}

button{
    width: 200px;
    height: 60px;
    font-weight: bold;
    border-radius: 55px;
}

/* HEADER */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 191px;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-container h1{
    font-size: 24px;
    color: var(--sixth-color)
}

.logo-container img{
    width: 41px;
    height: 41px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 37px;
}

nav a{
    color: var(--Third-color)
}
nav #bold{
    color: var(--sixth-color);
    font-weight: bold;
}
input[type=checkbox]{
    display: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    user-select: none;
}

/* PRIMEIRA SEÇÃO */
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-left: 191px;
    margin-right: 163px;
    gap:87px
}

.about-container img{
    width: 693px;
    height: 598px;
}

#img-balls-about{
    width: 70px;
    height: 118.54px;
    margin: 0;
    left: 0;
    top: 160px;
    position:absolute;
}

.about-content {
    width: 467px;
    margin-top: 106px;
}
.about-content h2{
    color: var(--second-color);
    font-size: 48px;
}
.about-content p{
    color: var(--Third-color);
    padding-top: 25px;
    padding-bottom: 45px;
}
.about-content button{
    color: var(--fourth-color);
    background-color: #458FF6;
}

/* SEGUNDA SEÇÃO */
.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 190px;
    position: relative;
    width: 1675.58px;
}

.services-container h2{
    font-size: 36px;
    font-weight: bold;
}

.services-container p{
    color: var(--Third-color);
    padding: 50px;
    width: 992px;
    z-index: 1;
}

.services-container button{
    margin-top: 60px;
    background-color: var(--fourth-color);
    color: var(--main-color);
    border: 1.4px solid var(--main-color);
}

.line{
    width: 56px;
    border: 2px solid var(--second-color);
    border-radius: 10px;
    margin-top: 25px;
}
.services-content{
    display: flex;
    width: 1120px;
    flex-wrap: wrap;
    gap: 35px;
    position: relative;
    z-index: 1;
}

.service-card{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 354px;
    border-radius: 30px;
    border: 1px solid var(--fourth-color);
    box-shadow: 0px 10px 10px  #E5E9F6;
    align-items: start;
    text-align: justify;
    justify-content: center;
    background-color: var(--fourth-color);
}

.service-card img{
    width: 50px;
    margin: 10px 30px;
}

.service-card h3{
    padding: 10px 30px;
    font-size: 24px;
}
.service-card p{
    padding: 0;
    padding: 10px 30px;
    font-size: 16px;
    width: auto;
}

#background-service {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 0; 
    width: 1000px; 
    height: auto;
}

#little-balls-biggest {
    position: absolute;
    top: 500px; 
    right: 230px;
    z-index: 0;
    width: 140px; 
    height: auto;
}



/* TERCEIRA SEÇÃO */
/* QUARTA SEÇÃO */
/* QUINTA SEÇÃO */
/* SEXTA SEÇÃO */
/* FOOTER */


@media(max-width: 700px){

    *{
        font-size: 14px;
    }

    button{
        width: 150px;
        height: 40px;
    }

    /* HEADER */
    header{
        margin: 33px 39px;
    }
    
    .logo-container{
        gap: 12px;
    }
    
    .logo-container h1{
        font-size: 20px;
    }
    
    .logo-container img{
        width: 30px;
        height: 30px;
    }
    
    nav{
        display: none;
        gap: 15px;
        position: absolute;
        flex-direction: column;
        top: 100px;
        right: 0;
        margin-right: 25px;
    }

    input[type=checkbox]:checked ~ nav{
        display: flex;
    }

    .hamburger {
        display: block;
    }

    /* PRIMEIRA SEÇÃO */
    .about-container{
        margin-top: 24px;
        margin-left: 37px;
        margin-right: 37px;
        gap: 0px;
        flex-direction: column-reverse;
    }
    
    .about-container img{
        width: 300px;
        height: auto;
    }
    
    #img-balls-about{
        width: 40px;
        height: auto;
        top: 447px;
        position: absolute;
    }
    
    .about-content {
        width: 300px;
        margin-top: 34px;
        text-align: center;
    }
    .about-content h2{
        font-size: 30px;
    }
    .about-content p{
        padding: 25px 0;
    }
    .about-content button{
        font-size: 12px;
    }

    /* SEGUNDA SEÇÃO */
    .services-container{
        width: auto;
        margin: 60px;
        
    }
    
    .services-container h2{
        font-size: 30px;
    }
    
    .services-container p{
        width: 320px;
        line-height: 25px;
    }
    
    .line{
        border: 1px solid var(--second-color);
        border-radius: 5px;

    }
    
    .services-content{
        width: auto;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    
    .service-card{
        width: 280px;
        height: 283.2px;
        box-shadow: 0px 5px 5px  #E5E9F6;
        align-items: start;
        text-align: justify;
        justify-content: center;
        background-color: var(--fourth-color);
    }
    
    .service-card img{
        width: 40px;
        margin: 10px 30px;
    }
    
    .service-card h3{
        padding: 10px 30px;
        font-size: 24px;
    }
    .service-card p{
        padding: 0;
        padding: 10px 30px;
        font-size: 16px;
        width: auto;
    }
    
    #background-service {
        top: 0px;
        width: 350px; 
        left: 120px;
    }
    
    #little-balls-biggest {
        display: none;
    }

    /* TERCEIRA SEÇÃO */
    /* QUARTA SEÇÃO */
    /* QUINTA SEÇÃO */
    /* SEXTA SEÇÃO */
    /* FOOTER */
}